/* nav */

.navbar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: green;
    height: 5rem;
    align-items: center;
    justify-content: center;
}

.navbar-container-empty{
    display: grid;
    height: .1rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

.navbar-item{
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.navbar-item-empty{
    color: rgb(166, 225, 166); /*same as body color*/
}

.closeButton{
    margin-left: .5rem;
    width: 5rem;
    font-size: 1.5rem;
    background-color: rgb(64, 192, 64);
    border-color: transparent;
    transition: scale .5s;
}

.openButton{
    margin-left: .5rem;
    width: 5rem;
    font-size: 1.5rem;
    background-color: rgb(64, 192, 64);
    border-color: transparent;
    transition: scale .5s;
}

.closeButton:hover{
    scale: 1.5;
    transition: scale .5s;
}

.openButton:hover{
    scale: 1.5;
    transition: scale .5s;
}

@media screen and (max-width:1000px){
    .navbar-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* index and some remnants of the old navbar */

body{
    background-color: rgb(166, 225, 166);
}

.header{
    background-color: green;
    width: 100%;
    height: 5rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_left a{
    text-decoration: none;
    color: white;
    padding-left: 5rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

.nav_right a{
    text-decoration: none;
    color: white;
    padding-right: 5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.center-image{
    display: block;
    padding-top: 3rem;
    margin: 0 auto;
}

h1{
    padding-bottom: 1.5rem;
}

.index-body{
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

.header_img{
    padding-top: .1rem;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.nobg-header{
    font-size: 3rem;
    margin-bottom: 2rem;
}

@media screen and (max-width:750px){
    .index-video{
        scale: .5;
    }
}

/* work cited */


.cited-container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
}

.card {
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    background-color: green;
    padding: 2px 16px 10px 16px;
    display: flex;
    flex-direction: column;
}

.card-title{
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

a{
    scale: 1;
    transition: scale .5s;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    scale: 1.5;
    transition: scale .5s;
}

a:active {
    text-decoration: none;
}


/* info pages */

.info-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
}

.transportation-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
}

.info-card{
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.info-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-card-title{
    font-size: 2rem;
    color: white;
}

.info-card-text{
    font-size: 1.5rem;
    color: white;
}

@media screen and (max-width:1000px){
    .info-container{
        grid-template-columns: 1fr;
    }
}