/* index/nav */

body{
    background-color: rgb(204, 226, 204);
}

.header{
    background-color: green;
    width: 100%;
    height: 5rem;
    margin-top: 0rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_left a{
    text-decoration: none;
    color: white;
    padding-left: 5rem;
    padding-right: 1rem;
    font-size: 1.5rem;
}

.nav_right a{
    text-decoration: none;
    color: white;
    padding-right: 5rem;
    padding-left: 1rem;
    font-size: 1.5rem;
}

.center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    padding-bottom: 1.5rem;
}

.index-body{
    font-size: 1.5rem;
}

.header_img{
    padding-top: .1rem;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.header_img:hover{
    /* animation: rotation 2s infinite cubic-bezier(0.4, 0, 0.2, 1); */
    animation: rotation 2s infinite linear;
}

.rotate {
    /* animation: rotation 2s infinite cubic-bezier(0.4, 0, 0.2, 1); */
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.invisible {
    visibility: hidden;
}

.closeButton{
    font-size: 1.5rem;
    background-color: rgb(64, 192, 64);
    border-color: transparent;
}

.openButton{
    margin-left: 83.35rem;
    margin-top: 1.6rem;
    font-size: 1.5rem;
    background-color: rgb(64, 192, 64);
    border-color: transparent;
}


/* work cited */

.cited-header{
    font-size: 3rem;
}

.cited-container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    grid-column-gap: 5rem;
    grid-row-gap: 3rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 2px 16px 10px 16px;
    display: flex;
    flex-direction: column;
}

.card-title{
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

.cited-iframe{
    align-items: center;
    justify-content: center;
}

a{
    scale: 1;
    transition: scale .5s;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    scale: 1.5;
    transition: scale .5s;
}

a:active {
    text-decoration: none;
}